.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  background-color: #dbe86a;
  min-height: calc(100vh - 10vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #aff159;
  top: 0;
  border-bottom: 1px black solid;
}

.header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header, .footer {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 50px;
  height: max-content;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 0;
}

.footer {
  background-color: #35cae5;
  bottom: 0;
  border-top: 1px black solid;
}

.spinner {
  height: 10vmin;
  pointer-events: none;
}

.mouse-pad {
  padding-top: 10vmin;
  min-height: calc(100vh - 10vmin);
  min-width: 100%;
}

.timer-config {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.timer-config button {
  border: 1px black solid;
  font-size: 20px;
  height: 50px;
  width: 150px;
}

.timer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 20px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}