.App {
    text-align: center;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    background-color: #dbe86a;
    min-height: calc(100vh - 10vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wideButton {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: aqua;
}

.header-cell {
    width: 150px;
    font-size: 26px;
    background-color: blue;
    color: white;
    padding: 10px;
    border: black 1px solid;
}
.cell {
    width: 150px;
    font-size: 26px;
    background-color: white;
    color: blue;
    padding: 10px;
    border: black 1px solid;
}
.clickable {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    border: black 1px solid;
}