.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    background-color: #dbe86a;
    min-height: calc(100vh - 10vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #aff159;
    top: 0;
    border-bottom: 1px black solid;
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header, .footer {
    position: fixed;
    left: 0;
    right: 0;
    min-height: 50px;
    height: max-content;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 0;
}

.footer {
    background-color: #35cae5;
    bottom: 0;
    border-top: 1px black solid;
}

.spinner {
    height: 10vmin;
    pointer-events: none;
}

.little-photo {
    width: 300px;
    height: 300px;
    background-color: #282c3433;
    gap: 16px;
}
.card {
    background-color: #14171722;
    gap: 16px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.rows {
     display: inline-list-item;
     gap: 10px;
 }
.card {
    background-color: dimgray;
    padding: 16px;
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.card__title {
    text-decoration: none;
    color: goldenrod;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.card__body {}
.link {}
.line {
    text-decoration: none;
    color: blue;
    margin-bottom: 16px;
}